/* Estilo general para el contenedor */
.location-section {
  padding: 20px;
  text-align: center;
}

/* Estilo para el título */
.location-section h2 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Estilo para el iframe, haciéndolo responsivo */
.location-section iframe {
  max-width: 100%;
  height: auto;
  border: none;
}

/* Media Queries para pantallas pequeñas (smartphones) */
@media screen and (max-width: 768px) {
  /* Ajustar el tamaño del texto */
  .location-section h2 {
    font-size: 1.4rem;
  }
  
  /* El iframe se ajusta mejor en pantallas pequeñas */
  .location-section iframe {
    width: 100%;
    height: 300px; /* Ajusta la altura para pantallas pequeñas */
  }
}
