/* Fondo negro y texto blanco */
body {
  background-color: black;
  color: white;
  font-family: 'Montserrat', sans-serif; /* Usando Montserrat */
  text-align: center;
  margin: 0;
  overflow: hidden; /* Evita scroll innecesario */
}

/* Estilo de los textos */
h1, h2, h3, p {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* Estilo de los botones */
button {
  background: red;
  color: white;
  font-size: 1.2rem;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 5px;
  text-transform: uppercase;
  outline: none;
}

/* Estilo para el botón cuando se pasa el mouse */
button:hover {
  background: darkred;
  transform: scale(1.1);
}

/* Contenedor principal */
.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  flex-direction: column;
}

/* Estilos para el modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8); /* Fondo oscuro semi-transparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Contenedor del formulario dentro del modal */
.modal-content {
  background: black;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  color: white;
  border: 2px solid white;
  max-width: 400px;
  width: 80%;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
}

/* Botón para cerrar el modal */
.close-modal-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: white;
  transition: 0.3s;
}

.close-modal-btn:hover {
  color: red;
  transform: scale(1.2);
}

/* Ubicación */
.location-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* Botón dentro de la ubicación */
.location-container button {
  margin-top: 20px;
  font-size: 1.2rem;
}

/* Estilos para el botón */
.open-modal-btn {
  background-color: #ff6f61;
  color: white;
  padding: 12px 25px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

/* Estilo para el botón cuando se pasa el mouse */
.open-modal-btn:hover {
  background-color: #ff4f3e;
}

.acceptance-form, .location-section {
  text-align: center;
  margin: 20px;
  width: 90%;}